body {
  background: white;
  font-family: 'Tenali Ramakrishna', sans-serif;
  background-image: url("../images/kale_bgrd.jpg");
}

.wrapper {
  margin-top: 0;
  margin: 0 auto;
  width: 100%;
}

.main {
  text-align: center;
}

header {
  margin-top: 0;
  background: #E33D26;
  text-align: center;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  /*border-bottom: solid #FF8A7B 5px;*/
}

header h1 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 5em;
}

.subtitle {
  background: #FF8A7B;
}

header h2 {
  margin-top: 0;
  font-size: 2em;
  letter-spacing: 3px;
  padding-bottom: 3px;
}

.main h2 {
  font-size: 2em;
}

form {
  display: inline-block;
  font-size: 1.5em;
  margin: 20px 10px 0 10px; 
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 10px 0 10px;
  line-height: .9em;
}


.produce {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
}

.produce button {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  line-height: .8em;

}

.display_produce {
  width: 25%;
  position: relative;
  border: solid black 1px;
  display: inline-block;
  height: 183px;
  background-size: cover;
  background-position: center;
  margin: 15px;
  padding: 0;
  cursor: pointer;
}

#asparagus_pic {
  background-image: url("../images/asparagus.jpg");
}

#beets_pic {
  background-image: url("../images/beets.jpg");
}

#broccoli_pic {
  background-image: url("../images/broccoli.jpg");
}

#rhubarb_pic {
  background-image: url("../images/rhubarb.jpg");
}

#spinach_pic {
  background-image: url("../images/spinach.jpg");
}

#tomatoes_pic {
  background-image: url("../images/tomatoes.jpg");
}

#sweetcorn_pic {
  background-image: url("../images/corn.jpg");
}

#carrots_pic {
  background-image: url("../images/carrots.jpg");
}

#cucumbers_pic {
  background-image: url("../images/cucumbers.jpg");
}

#greenbeans_pic {
  background-image: url("../images/greenbeans.jpg");
}

#daikon_pic {
  background-image: url("../images/daikon.jpg");
}
 
#sweetpotatoes_pic {
  background-image: url("../images/sweetpotatoes.jpg");
}

#apples_pic {
  background-image: url("../images/apples.jpg");
}

#Brusselssprouts_pic {
  background-image: url("../images/brusselssprouts.jpg");
}

#fennel_pic {
  background-image: url("../images/fennel.jpg");
}

#cabbage_pic {
  background-image: url("../images/cabbage.jpg");
}

#kale_pic {
  background-image: url("../images/kale.jpg");
}

#leeks_pic {
  background-image: url("../images/leeks.jpg");
}

#parsnips_pic {
  background-image: url("../images/parsnips.jpg");
}

#wintersquash_pic {
  background-image: url("../images/wintersquash.jpg");
}

.recipe {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6em;
  clear: both;
  background-color: rgba(255, 255, 255, .6); 
}

.recipe a, .recipe a:visited {
  color: black;
}

.recipe h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0;
  padding-top: 20px;
}

.recipe h3 {
  font-family: 'Shadows Into Light', cursive;
  margin-left: 20px;
  text-align: center;
  margin-top: 0;
  font-size: 1.3em;
}

.ingredients {
  width: 40%;
  float: left;
  margin-left: 20px;
  margin-top: 0;
}

.ingredients h2, .preparation h2 {
  margin-top: 5px;
}

.preparation {
  width: 55%;
  float: left;
  margin-top: 0;
}

.recipe p {
  clear: both;
  margin-left: 20px;
  margin-bottom: 0;
} 

div#broccoli, div#asparagus, div#beets, div#rhubarb, div#spinach, div#carrots, div#cucumbers, div#tomatoes, div#greenbeans, div#sweetcorn, div#daikon, div#sweetpotatoes, div#apples, div#Brusselssprouts, div#fennel, div#cabbage, div#kale, div#leeks, div#parsnips, div#wintersquash {
  display: none;
}

/* Attribution page */

.attribution {
  background-color: rgba(255, 255, 255, .6);
  width: 80%;
  margin: 0 auto;
  font-size: 1.5em;
}

.attribution h1 {
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin-bottom: 0;
}

.attribution h2 {
  font-family: 'Shadows Into Light', cursive;
  margin: 0 15px 0 15px;
}

.attribution p {
  margin: 0 15px 0 15px;
}

.attribution a:visited, .attribution a {
  color: black;
}

header h1 a, header h1 a:visited {
  text-decoration: none;
  color: white;
}

/* Footer */

footer {
  background: #E33D26;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
  margin-top: 30px;
  padding: 5px;

}

footer span {
  font-size: .8em;
}

footer a {
  text-decoration: none;
  color: white;
}

/* For mobile devices */

@media screen and (max-width:1080px) {
  .recipe h1 {
    font-size: 2em;
  } 

  .recipe h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .produce button {
    font-size: 1.5em;
  }

  .display_produce {
    width: 40%;
    margin: 5px;
    height: 140px;
  } 

  header h1 {
    font-size: 3.5em;
  }

  header h2 {
    font-size: 1.5em;
  }

  .main h2 {
   font-size:  1.5em;
  }

  .recipe {
    width: 95%;
  }

  .ingredients ul {
    padding-right: 15px;
    padding-left: 15px;
  }

  .recipe h3 {
    font-size: 1em;
  }

  .ingredients {
    width: 100%;
    margin-top: 0;
  }

  .ingredients h2, .preparation h2 {
    margin-top: 5px;
  }

  .preparation {
    width: 90%;
    margin-left: 20px;
    margin-right: 100px;
  }

  footer {
    font-size: 1em;
  }

  .attribution h1 {
    font-size: 2em;
  }
}







