body {
  background: white;
  font-family: 'Tenali Ramakrishna', sans-serif;
  background-image: url("../images/kale_bgrd.jpg");
}

.wrapper {
  margin-top: 0;
  margin: 0 auto;
  width: 100%;
}

.main {
  text-align: center;
}

header {
  margin-top: 0;
  background: #E33D26;
  text-align: center;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  /*border-bottom: solid #FF8A7B 5px;*/
}

header h1 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 5em;
}

.subtitle {
  background: #FF8A7B;
}

header h2 {
  margin-top: 0;
  font-size: 2em;
  letter-spacing: 3px;
}

.main h2 {
  font-size: 2em;
}

form {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 20px; 
}


.produce {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
}

.produce button {
  margin-top: 260px;
  font-size: 2em;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  
}

.display_produce {
  width: 45%;
  border: solid black 1px;
  display: inline-block;
  height: 330px;
  background-size: 100%;
  margin: 5px;
}

#asparagus_pic {
  background-image: url("../images/asparagus.jpg");
}

#beets_pic {
  background-image: url("../images/beets.jpg");
}

#broccoli_pic {
  background-image: url("../images/broccoli.jpg");
}

#rhubarb_pic {
  background-image: url("../images/rhubarb.jpg");
}

#spinach_pic {
  background-image: url("../images/spinach.jpg");
}



.recipe {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.6em;
  clear: both;
  background-color: rgba(255, 255, 255, .6); 
}

.recipe h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3em;
}

.ingredients {
  width: 40%;
  float: left;
  margin-left: 20px;
}

.preparation {
  width: 55%;
  float: left;
}

.recipe p {
  clear: both;
  margin-left: 20px;
} 

.recipe h3 {
  margin-left: 20px;
}

div#broccoli, div#asparagus, div#beets, div#rhubarb, div#spinach, div#carrots, div#cucumbers, div#tomatoes, div#greenbeans, div#sweetcorn, div#daikon, div#sweetpotatoes, div#apples, div#Brusselssprouts, div#fennel, div#cabbage, div#kale, div#leeks, div#parsnips, div#wintersquash {
  display: none;
}






